<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [Projet3 v0.6] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="logs/Projet3.log" bufferedIO="true" advertise="true">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [Projet3 v0.1] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="File" level="debug"/>
      <AppenderRef ref="Console" level="debug"/>
    </Root>
  </Loggers>
</Configuration>